<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if error == 0 %}
    <meta name="description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image_og}}">
    <meta property="og:url" content="{{longurl}}">
    <meta http-equiv="refresh" content="1;{{longurl}}" />
    {% endif %}
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br>
      <br>
      {% if error == 0 %}
      <h1>Redirecting ...</h1>
      {% endif %}
      {% if error == 1%}
      <h1>{{message}}</h1>
      {% endif %}
    </div>
  </body>
</html>