{% extends 'base.html' %}
    {% block title%}Link Shortner | Search {% endblock %}
    {% block css %}
        <style>
            @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
            .search-bar{
            display: flex;
            max-width: 700px;
            margin: 0 auto;
            justify-content: space-around;
            padding: 10px;
            }
            .search-bar input{
            width: 100%;
            margin-right: 10px;
            font-size: 1.4em;
            background: #33415C;
            border: 0px solid #FFF;
            border-radius: 6px;
            }
            .search-bar input[type=url]{
            padding: 10px;
            }
            .search-bar input:focus{
            outline: none;
            }
            .search-bar .btn-sm{
            text-decoration: none;
            color: #FFF;
            font-size: 1.2em;
            border-radius: 8px;
            padding: 10px 10px;
            background: #33415C;
            -webkit-box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.75);
            box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.75);
            border: 0px;
            }
            .error-danger{
            background: #ff618e;
            color: #FFF;
            padding: 5px;
            font-size: 1.1em;
            max-width: 400px;
            margin: 0 auto;
            }
        </style>
    {% endblock %}
    {% block body %}
    <section class="home">
        <div id="particles-js"></div>
        <h2>Search in links</h2>
    <form method="GET" action="">
        {% if error == 1 %}<p class="error-danger">{{errorMessage}}</p>{%endif%}
        <div class="search-bar">
            <input type="url" placeholder="Search Shorten Link" name="q" value="{{Shortlink}}">
            <button class="btn-sm"><i class="bi bi-search"></i></button>
        </div>
    </form>
    {% if updates == 1 %}
    <br>
    <h4>search results for : {{Shortlink}}</h4>
    {% for i in dataCast %}
        <div style="padding: 10px;">
            <div class="results">
                <h3>Clicks : <span style="color: #3bff6f;">{{i[1]}}</span></h3>
                <h3>Short Code : <span style="color: #fc038c;">{{i[2]}}</span></h3>
            </div>
        </div>
    {% endfor %}
    {% endif %}

    {% if updates == -1 %}
    <br>
    <h4>No results found</h4>
    {% endif %}
    </section>
    {% endblock %}